progressive-image {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

progressive-image > img,
progressive-image > svg {
  display: inline-block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
